:root {
    --text-color:#f5f5f5;
    --hover-color:#12f7ff;
    --bg-color:#250821;
    --big-font:2.5rem;
    --normal-font:2rem;
    --neon-box-shadow: 0 0 .8rem #12f7ff;
    --h2-font:3rem;
    --p-font:1rem;
    --font-neon-text-shadow:0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3)
    ;
}




body {
    background-color: black;
    color: white !important;
}

.neon {
    color: var(--hover-color);
    position: relative;
    text-shadow: var(--font-neon-text-shadow);
    animation: neon-animation 1.5s ease-in-out infinite alternate;
}

.btn {
    background-color: black !important;
    border: 1px solid white !important;
    color: white;
    box-shadow: var(--neon-box-shadow);
    border: 2px solid var(--hover-color);
    border: 2px solid var(--hover-color);
    font-size: var(--text-color);
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    z-index: 1;
    border-radius: 5px;

}

.btn:hover {
    color: white;
}


@keyframes neon-animation {
    0% {
        opacity: 1.0;
        text-shadow: var(--font-neon-text-shadow);
    }

    100% {
        opacity: 0.6;
        text-shadow: none;
    }
}